/* Basic.css  - https://vladocar.github.io/Basic.css/ */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {box-sizing: border-box}

:root{
--sans: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
--mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, 'Courier New', monospace;
--c1:#0074d9;
--c2:#eee;
--c3:#fff;
--c4:#000;
--c5:#fff;
--c6:rgba(240, 242, 245, 1);
--c7:#ddd;
--c8:#3ab753;
--textcolor:#041f74;
--inba:#f9faff;
--inbr:#c3d0ed;
--m1: 8px;
--rc: 8px;
--rc2: 20px
}

/*@media (prefers-color-scheme: dark) {*/
/*	:root {*/
/*    --c2:#333;*/
/*    --c3:#1e1f20;*/
/*    --c4:#fff;*/
/*    --c6:#111;*/
/*    --c7:#222;*/
/*	}*/
/*}*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

/* General settings */

body {
    margin: 0;
    font: var(--sans);
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--c6);
    color: var(--textcolor);
}
img, iframe {border: none; max-width: 100%}

a {color: var(--c5);  text-decoration:none}

a:hover {color: var(--c5);}

pre {font: 1em/1.6 var(--mono); background: var(--c2); padding: 1em; overflow: auto}

code {font: 1em/1.6 var(--mono);}

blockquote {border-left: 5px solid var(--c2); padding: 1em 1.5em; margin: 0}

hr {border:0; border-bottom: 1px solid var(--c4)}

 /* Headlines */

h1,h2,h3,h4,h5,h6 {margin: 0.6em 0; font-weight: normal}

h1 {font-size: 2.625em; line-height: 1.2}

h2 {font-size: 1.625em; line-height: 1.2; font-weight: bold}

h3 {font-size: 1.3125em; line-height: 1.24}

h4 {font-size: 1.1875em; line-height: 1.23}

h5,h6 {font-size: 1em; font-weight:bold}

/* Table */

table {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
    border:none;
}

th, td {
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 0.4em;
    border-radius: inherit;
}

th {background-color: transparent;}

tr td{
    background-color: var(--c2);
}

thead tr{
    background-color: transparent;
}

tbody tr td:first-child {
    border-top-left-radius: var(--rc);
    border-bottom-left-radius: var(--rc);
}

tbody tr td:nth-last-child(2){
    border-top-right-radius: var(--rc);
    border-bottom-right-radius: var(--rc);
}

tbody tr td:last-child{
    background-color: transparent;
}


#table_box, #form_box{
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: var(--c5);
    border-radius: var(--rc2);
    box-shadow: 0 0 8px black;
}

#table_box tr td:last-child {
    border: none;
    width: 0;
    padding: 0;
    background-color: transparent;
}

/* tabel form*/
.form_list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.form_list div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#form_box input, #form_box select {
    background-color: var(--inba);
    border: 2px solid var(--inbr);
}

#like_input {
    display: flex;
}

#between_input {
    display: none;
}

#between_input div {
    flex-direction: row;
}

#data_type_input {
    display: none;
}

/* table buttons*/
.button1 {
    background-color: var(--c8);
}

.button2 {
    background-color: var(--c1);
}

/* Rounded Corners*/

pre,code,input,select,textarea,button,img {
    border-radius: var(--rc)
}

/* Forms */

input, select, textarea {
    font-size: 1em;
    color:var(--c4);
    background: var(--c7);
    border: 0;
    padding: 0.6em
}

button, input[type=submit], input[type=reset], input[type="button"] { -webkit-appearance: none; font-size: 1em; display: inline-block; color: var(--c5); background: var(--c1);  border: 0; margin: 4px;  padding: 0.6em; cursor: pointer; text-align: center}

button:hover, button:focus, input:hover, textarea:hover, select:hover {opacity: 0.8}

/* Infinite Grid */

section {display: flex; flex-flow: row wrap}

[style*="--c:"], section>section, aside, article {flex:var(--c1); margin:var(--m1)}

/* Cards */

article {background: var(--c2); border-radius: var(--rc); padding: 1em; box-shadow: 0 1px 0 rgba(0,0,0,0.3)}

[style*="--c:"]:first-child, section>section:first-child, article:first-child {margin-left:0}
[style*="--c:"]:last-child, section>section:last-child, article:last-child {margin-right:0}

/* Mark: Toegevoegd aan basic.css */
main,footer {
    margin: 0 auto;
    width: 60%;
    text-align: left;
    padding: 0 20px;
}

section>section {
    color: #fff;
    background-color: var(--c1);
    padding: 15px;
    margin: 10px 8px 10px 8px;
    text-align: center;
}



@media (max-width: 481px) {
    body {font-size: 18px}
    main,footer {width: 98%}
    section,article {flex:none; width:100%; margin-left: 0;}
}
/* header */
.container__large {
    display: flex;
    margin: 0 auto 20px auto;
    max-width: 100vw;
    box-shadow: 0 -3px 10px black;
    padding-left: 10%;
}

.nav__inner, .nav__left {
    display: -webkit-flex;
    display: flex;
}

.nav__inner {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 70px;
}

.nav__logo, .nav__menu {
    display: -webkit-flex;
    display: flex;
}

.nav__menu {
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
}

.nav__menu-item-link {
    -webkit-align-items: center;
    align-items: center;
    color: #041f74;
    display: -webkit-flex;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
    margin: 0 10px;
}
