<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Test-Correct</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../static/Test-correct.ico"/>
</head>
<body>
<!-- JinJa -->
{% include "header.html" %}

<!-- Delete pagina met html code -->
<main>
    <h1>Delete pagina</h1>
    <p>Hier kunt u een rij verwijderen.</p>
    <form class="delete" action="/table_details/{{ table_name }}/{{ id }}/confirmed_delete" method="GET">
        <p>Klik op 'Ja' om het te bevestigen of klik 'Nee' om terug te keren naar de lijst.</p>
        <input id="ja_knop" type="submit" value="Ja">
    </form>
    <a id="nee_knop" href="/table_details/{{ table_name }}" class="nee_knop">Nee</a>
</main>
</body>
</html>

