<header>
    <div class="container__large">
    <div class="nav__inner">
        <div class="nav__left">
            <a href="/" class="nav__logo">
                <img src="https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-logo.svg" class="nav__logo-large">
            </a>

            <ul class="nav__menu">
                <li class="nav__menu-item menu-item menu-depth-1">
                    <a class="nav__menu-item-link" href="#">
                    <span>Oplossingen</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6">
                            <path d="M2.375 1.125L5.5 4.25l3.125-3.125" stroke="#041F74" stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="round"></path>
                        </svg>
                    </a>
                    <ul class="nav__submenu">
                        <li class="nav__menu-item menu-item menu-depth-2">
                            <a class="nav__menu-item-link" href="https://www.test-correct.nl/voor-het-vo?hsLang=nl">
                                <span>Voor het VO</span>
                            </a>
                        </li>
                        <li class="nav__menu-item menu-item menu-depth-2">
                            <a class="nav__menu-item-link" href="https://www.test-correct.nl/voor-het-mbo?hsLang=nl">
                                <span>Voor het MBO &amp; HBO</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__menu-item menu-item menu-depth-1">
                    <a class="nav__menu-item-link" href="https://www.test-correct.nl/ons-product?hsLang=nl">
                        <span>Product</span>
                    </a>
                </li>
                <li class="nav__menu-item menu-item menu-depth-1">
                    <a class="nav__menu-item-link" href="https://www.test-correct.nl/pakketten?hsLang=nl">
                        <span>Aanbod</span>
                    </a>
                </li>
                <li class="nav__menu-item menu-item menu-depth-1">
                    <a class="nav__menu-item-link" href="https://www.test-correct.nl/student?hsLang=nl">
                        <span>Student</span></a></li>

          <li class="nav__menu-item menu-item menu-depth-1">
  <a class="nav__menu-item-link" href="https://www.test-correct.nl/support?hsLang=nl">
    <span>Support</span></a></li>

          <li class="nav__menu-item menu-item menu-depth-1">
  <a class="nav__menu-item-link" href="https://www.test-correct.nl/blog?hsLang=nl">
    <span>Nieuws</span></a></li>

          <li class="nav__menu-item menu-item menu-depth-1">
  <a class="nav__menu-item-link" href="https://www.test-correct.nl/overons?hsLang=nl">
    <span>Over ons</span></a></li>

        </ul>
      </div>
    </div>
  </div>
</header>
