<header>
    <div class="container__large">
        <div class="nav__inner">
            <div class="nav__left">
                <a href="/" class="nav__logo">
                    <img src="https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-logo.svg" class="nav__logo-large">
                </a>

                <ul class="nav__menu">
                    {% for table in table_list %}
                    <li>
                        <a class="nav__menu-item-link" href="/table_details/{{ table }}">
                            <span>{{ table }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
