<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/loginstyle.css" type="text/css">
</head>
<body>
<img src="https://welcome.test-correct.nl/svg/logos/Logo-Test-Correct-2.svg" alt="Test_correct_logo" class="Test_correct_logo" style="width:325px;height:150px;">
 <div class="container">
      <div class="login">
          <h1>Inloggen</h1>
      <form action='/login' method="post">
      <h3>Gebruikersnaam</h3>
          <label>
              <input type="text" name="Username" required>
          </label>
      <h3>Wachtwoord</h3>
          <label>
              <input type="password" name="Password" required>
          </label><br>
                     {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }} </div>
      {% endif %}
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      </div>
 </div>
</body>
</html>
