<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <H2>Log in</H2>

        <div>
            <h4>Gebruikersnaam:</h4>

            <form class="loginform" action="/start">
                   <input type="text" id="loginusername" placeholder="'Jelle-1035608'" required>
            <h4>Wachtwoord:</h4>
                   <input type="password" id="loginpassword" placeholder="'ABC123@'" required>
                    <br><br>
                   <input type="submit" value="Log in">
               </form>
        </div>
</main>
</body>
</html>