<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
{% include "header.html" %}
<main>
    <div>
        <h2>Zoek naar:</h2>
        {% if table_name == 'vragen' %}
            {% include "vragen_form.html" %}
        {% endif %}

        {% if table_name == 'leerdoelen' or table_name == 'auteurs' %}
            {% include "auteur_leerdoelen_form.html" %}
        {% endif %}
    </div>
    <div id="table_box">
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for field in row %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    <td><button><a href="{{ table_name }}/{{ loop.index }}/update">Wijzig</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
<script src="../static/dynamic_filter.js"></script>
</body>
</html>
