<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
    <body>

     <h1>Update page</h1>
        <p>Dit is de update page</p>

     {% if table_name == 'auteurs' %}
        <form action="#" method="POST">
            <p>voornaam: <input type="text" name="voornaam" value="{{ voornaam.auteurs }}"></p>
            <p>achternaam: <input type="text" name="achternaam" value="{{ achternaam.auteurs }}"></p>
            <p>medewerker: <input type="checkbox" name="medewerker" value="{{ medewerker.auteurs }}"></p>
            <button type="submit" value="update"></button>
        </form>
     {% endif %}

     {% if table_name == 'leerdoelen' %}
        <form action="#" method="POST">
            <p>leerdoel: <input type="text" name="leerdoel" value="{{  }}"></p> <br><br>
            <button type="submit" value="update"></button>
        </form>
    {% endif %}

    {% if table_name == 'vragen' %}
        <form action="#" method="POST">
         <p>vraag: <input type="text" name="text" value="{{ vraag.vraag }}"></p>
            <button type="submit" value="update"></button>
        </form>
    {% endif %}





    </body>
</html>