<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <title>Update</title>
</head>
<body>

<h1>Update pagina</h1>
<p>Dit is de update pagina</p>

<!-- Table name auteurs is getting called when you select the table name -->
{% if table_name == 'auteurs' %}
    <p>Update de auteur hier:</p>
    <div class="formclass">
        <form action="#" method="POST">
            <div>
                <label for="achternaam">achternaam:</label>
                <input id="achternaam" type="text" name="achternaam" value="{{ row[2] }}">
            </div>
            <div>
                <label for="geboortejaar">Geboortejaar:</label>
                <input id="geboortejaar" type="text" name="geboortejaar" value="{{ row[3] }}">
            </div>
            <div id="boxcheck">
                <label for="medewerker">Medewerker: </label>
                <input id="medewerker" type="checkbox" {% if row[4] %} checked{% endif %} name="medewerker">
            </div>
            <div class="buttonupdate">
                <button type="submit">update</button>
            </div>
        </form>
    </div>
{% endif %}

<!-- Table 'leerdoelen' is getting called when you select the table name -->
{% if table_name == 'leerdoelen' %}
    <p>Update de leerdoelen hier:</p>
    <div class="formclass">
        <form action="#" method="POST">
            <div>
                <label for="leerdoel">leerdoel:</label>
                <input id="leerdoel" type="text" name="leerdoel" value="{{ row[1] }}">
            </div>
            <div class="buttonupdate">
                <button type="submit">update</button>
            </div>
        </form>
    </div>
{% endif %}

<!-- table name 'vragen' is getting called in here when you select the table -->
{% if table_name == 'vragen' %}
    <p>Update de vragen hier:</p>
    <div class="formclass">
        <form action="#" method="POST">
            <div>
                <label for="leerdoel">leerdoel:</label>
                <input id="leerdoel" type="text" name="leerdoel" value="{{ row[1] }}">
            </div>
            <div id="areatext">
                <label for="vraag">vraag:</label>
                <textarea id="vraag" name="" form="vraag" cols="30" rows="10">{{ row[2] }}</textarea>
            </div>
            <div>
                <label for="auteur">auteur: </label>
                <input id="auteur" type="text" name="auteur" value="{{ row[3] }}">
            </div>
            <div class="buttonupdate">
                <button type="submit">update</button>
            </div>
        </form>
    </div>
{% endif %}


</body>
</html>